@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    text-decoration-color: whitesmoke;
} */

html {
    padding: 0%;
    margin: 0%;
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse at center, rgb(202, 53, 53) 20%, black 80%);
    overflow: scroll;
    /* text-decoration-color: whitesmoke; */
}

main {
    /* height: 100%; */
    padding-left: 10%;
    padding-right: 10%;
    /* margin: 5%; */
}